@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  height: 5vh;
  width: 100vw;
  border: 1px solid gray;
  position: fixed;
  background-color: #edecec;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .navbar {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 100vw;
  }

  .link-navbar {
    text-decoration: none;
    color: rgb(111, 111, 111);
    font-family: "Poppins", serif;
    font-style: normal;
  }

}



#main {
  display: flex;
  align-items: center;
  height: 100vh;
  gap: 65px;
  width: 100vw;
  background-color: rgb(249, 246, 246);

  .div-main {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 65px;
    width: 100vw;
  }

  .div-nome {
    display: flex;
    flex-direction: column;
    width: 810px;
    height: 400px;
    justify-content: center;
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }

  .foto-eu {
    border-radius: 60%;
    height: 400px;
    width: 400px;
    box-shadow: 0 6px 8px gray;
    overflow: hidden;
  }
}


#second {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgb(249, 246, 246);
  justify-content: center;
  font-family: "Poppins", serif;


  .textos {
    font-family: "Poppins", serif;
    width: 800px;
    height: 350px;

  }

  .div-sou-tarciana {
    display: flex;
    gap: 11px;
  }

}

#terceira {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgb(249, 246, 246);
  justify-content: flex-start;
  font-family: "Poppins", serif;


  .container {
    display: flex;
    width: 700px;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .linguagens,
  .habilidades {
    display: flex;
    flex-direction: column;
  }

  .linguagem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
  }

  .pontos {
    display: flex;
    gap: 8px;
  }


  .ponto.forte:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .ponto:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }


  .ponto {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #555;
    opacity: 0.3;
  }

  .ponto.forte {
    opacity: 1;
  }

  .habilidades ul {
    list-style: none;
    padding: 0;
  }

  .habilidades li {
    margin-bottom: 12px;
    font-size: 27px;
  }

}

#quarta {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgb(249, 246, 246);
  justify-content: flex-start;
  font-family: "Poppins", serif;


  #quarta h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  .divisao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }

  .box {
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
  }

  .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .box img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .box h6 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 200;

  }

  .box p {
    font-size: 16px;
    margin: 5px 0 15px;
    font-weight: 400;
  }

}

#contato{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  background-color: rgb(249, 246, 246);
  justify-content: flex-start;
  font-family: "Poppins", serif;

  .textos-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .opcoes-contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 102vw;
  }

  .email, .telefone, .linkedin, .instagram{
    width: 90px;
    height: 90px;
    border: #555 2px solid;
    border-radius: 50px;
    background-color: #edecec;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }


  i {
    font-size: 42px;
    color: #555 ;
  }

  i:hover{
    transform: translateY(-5px);
    
  }
  

}
